*{
    margin: 0 ;
    padding: 0 ;
}
.car-title{
    
    width: 30rem;
    position: absolute;
    left: -9rem;
    bottom: 9rem;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
/* .thumb-nail-option{
    background-image: url("banner-1.jpg.webp");
} */
@media screen and (max-width: 992px) {
    
}
i{
    color: #ffc107;
}
@media screen and (max-width: 600px) {
      .nav-property{
        text-align:center;
      }   
    .nav-call{
        display: none;
    }  
    .nav-language{
        display: none;
    }
    .search-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-card-section{
        flex-direction: column;
        gap: 1rem;
    }
    .social-4{
        display: none;
    }
    .deal-offer{
        margin: auto;
    }
    .deal-offer p{
        display: none;
    }

   
}
.row-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.thumb-nail-option{
    
    height: 16rem;
    width: 26rem;
}
.thumb-nail-option img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.thumb-nail-option h1{
    position: relative;
    top: -9rem;
    left: 7rem;
    width: 10rem;
    text-align: center;
    background: white;
}
 .shop-option{
  gap: 10rem;
 }


.woman-sale{
    background:url("women-large.jpg.webp") center  center;
    object-fit: cover;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.owl-theme{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* sells card start here */
.card{
    height: 18rem;
    width: 15rem;
    background-color: palegoldenrod;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    

}
.card-mainbody{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    height: 100%;
    width: 100%;
}

.card-title{

     display: flex;
     position: absolute;
     top: 288px;
     text-align: center;
     transition: 0.5s;
     
     /* opacity: 0; */
     /* visibility: hidden; */



}
.card:hover .card-title{
    top: 250px;
    opacity: 1;
    visibility: visible;
    
}
/* card end */
.deal{
    background: url("time-bg.jpg.webp") center center ;
}

/* social card section... */
.social-card{
    height: 18rem;
    width: 15rem;

}
.social-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hover-social-card{
    background-color: rgba(0, 0, 0, 0.39);
    height:18rem ;
    width:15rem ;
    position:relative;
    transform: translateY(-100%);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    transition: 0.5s;
}
.social{
    display: flex;
    justify-content: center;
}
.social-card:hover .hover-social-card{
    opacity: 1;

}
.social-card-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-social{
   
   
}
.blog-section{
    display: flex;

    justify-content: center;
    padding: 2rem;
}
.row-blog{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.my-blog-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog-img{

    background-color: pink;
    height: 16rem;
    width: 22rem;
    overflow: hidden;
    border-radius: 5px;
}
.blog-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-descrip-1{
    display: flex;
    gap: 1rem;
}
.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social-icon{
    display: flex;
    gap: 0.5rem;
}
.sub-footer-social-icon{
    background-color: yellow;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}